/* ---------------------------------------------------- */
/* --------------------- HTML Tags ---------------------*/
/* ---------------------------------------------------- */
a {
  color: #8ec6c5;
  font-family: 'Montserrat', sans-serif;
  text-decoration: none;
}

a:hover {
  color: #dbdbdb;
}

body {
  margin: 0;
  text-align: center;
  color: #40514E;
}

h1 {
  color: #6983aa;
  font-size: 5.625rem;
  font-family: 'Shadows Into Light', cursive;
  line-height: 2;
  margin: 10px auto 0 auto;
}

h2 {
  color: #6983aa;
  font-family: 'Montserrat', sans-serif;
  font-size: 2rem;
  font-weight: normal;
  padding-bottom: 10px;
}

h3 {
  color: #8ec6c5;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.5rem;
}

hr {
  /*border: dotted #EAF6F6;*/
  border: dotted #dbdbdb 6px;
  border-bottom: none;
  width: 5%;
  margin: 100px auto;
}

p {
  font-family: 'Montserrat', sans-serif;
  line-height: 2;
}

/* ---------------------------------------------------- */
/* --------------------- Container ---------------------*/
/* ---------------------------------------------------- */
.top-container {
  /*background-color: #e0ebe8;*/
  background-color: #f4f4f4;
  position: relative;
  padding-top: 50px;
}

.middle-container {
  margin: 100px 0;
}

.bottom-container {
  background-color: #6983aa;
  color: #f4f4f4;
  padding: 50px 0 20px;
}

/* ---------------------------------------------------- */
/* ---------------------- Classes ----------------------*/
/* ---------------------------------------------------- */
.contact-message {
  width: 40%;
  margin: 40px auto 60px;
}

.copyright {
  color: #dbdbdb;
  font-size: 0.75rem;
  margin-bottom: 0;
  padding: 20px 0 0;
}

.footer-link {
  margin: 10px 20px;
}

.icon-link {
  font-family: 'Montserrat', sans-serif;
  margin-top: 50px;
}

.intro {
  width: 30%;
  margin: auto;
}

.navbar {
  text-align: left;
  font-size: 1.25rem;
}

.nav-item a:hover {
  color: #8ec6c5 !important;
}

.nav-link {
color: #6983aa;
font-family: 'Montserrat', sans-serif;
}

.navbar-brand {
  margin-top: 35px;
  margin-left: 20px;
  width: 70%;
}

.navbar-collapse {
  margin-top: 30px;
}

.navbar-image {
  margin-left: 30px;
  /*margin-top: 30px;*/
  border-radius: 50%;
  width: 80px;
  hight: 80px;
}

.skill-row {
  margin: 100px auto 100px auto;
  text-align: left;
  width: 50%;
}

.underline {
  text-decoration: underline;
}

/* ---------------------------------------------------- */
/* --------------------- Pictures ----------------------*/
/* ---------------------------------------------------- */
.evolution-picture {
  max-height: 100%;
  max-width: 100%;
  padding-top: 50px;
}

.coding {
  float: left;
  margin-right: 30px;
  margin-top: 15px;
  width: 30%;
}

.navbar-brand-momoji {
  text-align: left;
}

.navbar-profile-picture {
  border-radius: 50%;
  margin-left: 30px;
  width: 20%
}

.profile-picture {
  border-radius: 50%;
  width: 15%;
}

.software {
  width: 30%;
  float: right;
  margin-left: 30px;

}

/* ---------------------------------------------------- */
/* -----------------Animated Hamburger -----------------*/
/* ---------------------------------------------------- */
/* Hamburger Menu Appearance */
.icon-bar {
  width: 22px;
  height: 2px;
  background-color: #6983aa;
  display: block;
  transition: all 0.2s;
  margin-top: 4px
}

.navbar-toggler {
  border: none;
  background: transparent !important;
}

/* Hamburger Animation*/
.navbar-toggler .top-bar {
  transform: rotate(45deg);
  transform-origin: 10% 10%;
}

.navbar-toggler .middle-bar {
  opacity: 0;
}

.navbar-toggler .bottom-bar {
  transform: rotate(-45deg);
  transform-origin: 10% 90%;
}

.navbar-toggler.collapsed .top-bar {
  transform: rotate(0);
}

.navbar-toggler.collapsed .middle-bar {
  opacity: 1;
}

.navbar-toggler.collapsed .bottom-bar {
  transform: rotate(0);
}

/* ---------------------------------------------------- */
/* ------------------ Contact Button -------------------*/
/* ---------------------------------------------------- */
.button {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #8EC6C5), color-stop(1, #6983AA));
  background: -moz-linear-gradient(center top, #8EC6C5 5%, #6983AA 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#8EC6C5', endColorstr='#6983AA');
  background-color: #8EC6C5;
  -webkit-border-top-left-radius: 8px;
  -moz-border-radius-topleft: 8px;
  border-top-left-radius: 8px;
  -webkit-border-top-right-radius: 8px;
  -moz-border-radius-topright: 8px;
  border-top-right-radius: 8px;
  -webkit-border-bottom-right-radius: 8px;
  -moz-border-radius-bottomright: 8px;
  border-bottom-right-radius: 8px;
  -webkit-border-bottom-left-radius: 8px;
  -moz-border-radius-bottomleft: 8px;
  border-bottom-left-radius: 8px;
  text-indent: 0;
  display: inline-block;
  color: #ffffff;
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  font-weight: bold;
  font-style: normal;
  height: 50px;
  line-height: 50px;
  width: 170px;
  text-decoration: none;
  text-align: center;
  text-shadow: 0px 0px 0px #2f6627;
}

.button:hover {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #F4F4F4), color-stop(1, #8566AA));
  background: -moz-linear-gradient(center top, #F4F4F4 5%, #8566AA 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#F4F4F4', endColorstr='#8566AA');
  background-color: #F4F4F4;
}

.button:active {
  position: relative;
  top: 1px;
}


/* ---------------------------------------------------- */
/* ------------------- Project Cards -------------------*/
/* ---------------------------------------------------- */

.feature-title {
  font-size: 1.5rem;
}

.mockup{
  max-height: 100%;
  max-width: 100%;
  margin-bottom: 20px;
}

.projects {
  padding: 0 10%;
}

.project-box {
  padding: 5%;
}


.cd-top--is-visible {
  visibility: visible;
  opacity: 1;
}

.cd-top--fade-out {
  opacity: .5;
}

/* ---------------------------------------------------- */
/* ------------------ Back to Top Btn ------------------*/
/* ---------------------------------------------------- */

#myBtn {
  display: none; /* Hidden by default */
  position: fixed; /* Fixed/sticky position */
  bottom: 55px; /* Place the button at the bottom of the page */
  right: 30px; /* Place the button 30px from the right */
  z-index: 99; /* Make sure it does not overlap */
  border: none; /* Remove borders */
  outline: none; /* Remove outline */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #8EC6C5), color-stop(1, #6983AA));
  background: -moz-linear-gradient(center top, #8EC6C5 5%, #6983AA 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#8EC6C5', endColorstr='#6983AA');
  background-color: #8EC6C5;
  color: #ffffff; /* Text color */
  cursor: pointer; /* Add a mouse pointer on hover */
  padding: 15px; /* Some padding */
  border-radius: 10px; /* Rounded corners */
  font-size: 18px; /* Increase font size */
}

#myBtn:hover {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #F4F4F4), color-stop(1, #8566AA));
  background: -moz-linear-gradient(center top, #F4F4F4 5%, #8566AA 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#F4F4F4', endColorstr='#8566AA');
  background-color: #F4F4F4;
}
